[Unit]
Description=Draftsman MatterDesk Core
After=graphical.target

[Service]
User=st6b
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000
WorkingDirectory=/home/st6b/matterdesk
ExecStart=/usr/bin/python3 /home/st6b/matterdesk/matterdesk.py
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target